/*!
 * CUSTOM STYLES
 * 2018 Panov A.P.
 * 2018 magwai.ru
 */
@font-face {
  src: url("../fonts/VWHeadOffice.woff2") format("woff2"), url("../fonts/VWHeadOffice.woff") format("woff"), url("../fonts/VWHeadOffice.ttf") format("ttf");
  font-family: "VWHeadOffice";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/VWHeadOffice-Italic.woff2") format("woff2"), url("../fonts/VWHeadOffice-Italic.woff") format("woff"), url("../fonts/VWHeadOffice-Italic.ttf") format("ttf");
  font-family: "VWHeadOffice";
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url("../fonts/VWHeadOffice-Bold.woff2") format("woff2"), url("../fonts/VWHeadOffice-Bold.woff") format("woff"), url("../fonts/VWHeadOffice-Bold.ttf") format("ttf");
  font-family: "VWHeadOffice";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url("../fonts/VWHeadOffice-BoldItalic.woff2") format("woff2"), url("../fonts/VWHeadOffice-BoldItalic.woff") format("woff"), url("../fonts/VWHeadOffice-BoldItalic.ttf") format("ttf");
  font-family: "VWHeadOffice";
  font-weight: 700;
  font-style: italic;
}
@font-face {
  src: url("../fonts/VWTextOffice.woff2") format("woff2"), url("../fonts/VWTextOffice.woff") format("woff"), url("../fonts/VWTextOffice.ttf") format("ttf");
  font-family: "VWTextOffice";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/VWTextOffice-Italic.woff2") format("woff2"), url("../fonts/VWTextOffice-Italic.woff") format("woff"), url("../fonts/VWTextOffice-Italic.ttf") format("ttf");
  font-family: "VWTextOffice";
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url("../fonts/VWTextOffice-Bold.woff2") format("woff2"), url("../fonts/VWTextOffice-Bold.woff") format("woff"), url("../fonts/VWTextOffice-Bold.ttf") format("ttf");
  font-family: "VWTextOffice";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url("../fonts/VWTextOffice-BoldItalic.woff2") format("woff2"), url("../fonts/VWTextOffice-BoldItalic.woff") format("woff"), url("../fonts/VWTextOffice-BoldItalic.ttf") format("ttf");
  font-family: "VWTextOffice";
  font-weight: 700;
  font-style: italic;
}
body:after {
  display: block;
  padding: 10px;
  position: fixed;
  z-index: 1070;
  bottom: 0;
  right: 0;
  background: #000;
  color: #fff;
  visibility: hidden;
  content: '320';
}
@media (min-width: 576px) {
  body:after {
    content: "576px";
  }
}
@media (min-width: 768px) {
  body:after {
    content: "768px";
  }
}
@media (min-width: 1024px) {
  body:after {
    content: "1024px";
  }
}
@media (min-width: 1281px) {
  body:after {
    content: "1281px";
  }
}
@media (min-width: 1600px) {
  body:after {
    content: "1600px";
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
  font-family: "VWHeadOffice";
}

.vf-content-style {
  font-size: 16px;
}
.vf-content-style ol {
  counter-reset: item;
  padding: 0;
  margin-bottom: 30px;
}
.vf-content-style ol li {
  display: block;
  margin-top: 15px;
  font-weight: normal;
  font-size: 16px;
}
.vf-content-style ol li:before {
  content: counters(item,".") ". ";
  counter-increment: item;
}
.vf-content-style ul {
  padding: 0;
  margin-bottom: 30px;
}
.vf-content-style ul li {
  position: relative;
  padding-left: 30px;
}
.vf-content-style ul li:before {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 4px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background: #000;
}

.vf-soc__item, .vf-btn {
  cursor: pointer;
}
.vf-soc__item:active, .vf-btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.vf-footer__row, .vf-prize__row, .vf-videos__list, .vf-video__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.vf-modal__col, .vf-footer__col-1, .vf-footer__col-2, .vf-prize__col, .vf-videos__item, .vf-video__col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

img[data-object-fit="contain"] {
  -o-object-fit: contain;
     object-fit: contain;
}

img[data-object-fit="cover"] {
  -o-object-fit: cover;
     object-fit: cover;
}

.fit-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fit-img > img {
  opacity: 0;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.responsive-img {
  position: relative;
}
.responsive-img:before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.responsive-img > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gf-play-btn {
  display: block;
  font-size: 100px;
}
.gf-play-btn:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.62em 0 0.62em 1em;
  border-color: transparent transparent transparent #fff;
}
.gf-play-btn__shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.62em 0 0.62em 1em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  will-change: transform;
}
.gf-play-btn__shadow:first-of-type {
  margin-left: 0.04em;
  border-color: transparent transparent transparent #24fdfd;
}
.gf-play-btn:hover .gf-play-btn__shadow:first-of-type {
  -webkit-transform: translateX(0.04em);
          transform: translateX(0.04em);
}
.gf-play-btn__shadow:last-of-type {
  margin-left: -0.04em;
  border-color: transparent transparent transparent #ff2d63;
}
.gf-play-btn:hover .gf-play-btn__shadow:last-of-type {
  -webkit-transform: translateX(-0.04em);
          transform: translateX(-0.04em);
}

.gf-section-title {
  font-family: "VWHeadOffice";
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -0.06em;
  text-align: center;
  color: #fff;
}
@media (min-width: 768px) {
  .gf-section-title {
    font-size: 80px;
  }
}

.vf-note {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  margin-left: 2px;
  font-family: "VWHeadOffice";
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 14px;
  background-color: #0099da;
  border-radius: 50%;
  cursor: pointer;
}
.vf-note:before {
  content: '?';
}
.vf-note:focus, .vf-note:hover {
  color: #fff;
}

.vf-soc__inner {
  margin: -20px 0 0 -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vf-soc__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px 0 0 20px;
  border: 1px solid #dee1e3;
  font-size: 26px;
}
.vf-soc__item--vk {
  background: #4d75a3;
  border-color: #4d75a3;
}
.vf-soc__item--fb {
  background: #3b5998;
  border-color: #3b5998;
}
.vf-soc__item svg {
  fill: #fff;
}

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh !important;
}

.vf-paging {
  padding: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
}
@media (min-width: 768px) {
  .vf-paging {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.vf-paging__item {
  text-align: right;
  list-style: none;
  margin: 10px 0;
  padding-left: 10px;
  border-radius: 10px 0 0 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.vf-paging__item.active {
  background: rgba(6, 17, 63, 0.14);
}
.vf-paging__list {
  padding: 0;
  margin: 0;
}
.vf-paging__link {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (min-width: 1281px) {
  .vf-paging__link {
    padding-right: 50px;
  }
}
.vf-paging__link:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  height: 1px;
  width: 10px;
  background: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.3;
}
@media (min-width: 1281px) {
  .vf-paging__link:after {
    width: 40px;
  }
}
.vf-paging__link:focus, .vf-paging__link:hover {
  color: #fff;
}
.vf-paging__link:focus:after, .vf-paging__link:hover:after {
  opacity: 1;
}
.vf-paging__item.active .vf-paging__link {
  color: #fff;
  padding-right: 30px;
}
@media (min-width: 1281px) {
  .vf-paging__item.active .vf-paging__link {
    padding-right: 90px;
  }
}
.vf-paging__item.active .vf-paging__link:after {
  width: 20px;
  opacity: 1;
}
@media (min-width: 1281px) {
  .vf-paging__item.active .vf-paging__link:after {
    width: 80px;
  }
}

.vf-form-group {
  margin-bottom: 20px;
}

.vf-form-control {
  width: 100%;
  padding: 11px 35px 11px 14px;
  font-size: 14px;
  line-height: 12px;
  font-weight: 400;
  font-family: "VWTextOffice";
  color: #1d1f20;
  border: 1px solid #cfd7d9;
  border-radius: 3px;
}
.vf-form-control:focus {
  outline: none;
}

textarea.vf-form-control {
  height: 100px;
  min-height: 40px;
  resize: vertical;
  max-height: 300px;
}

input.error,
textarea.error {
  border-color: #c82e2d;
}
input.error ~ .error,
textarea.error ~ .error {
  color: #c82e2d;
  line-height: 1.1;
}

.vf-btn {
  position: relative;
  display: inline-block;
  height: 42px;
  line-height: 38px;
  padding: 0 9px;
  width: 100%;
  font-family: "VWTextOffice";
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: background 0.1s, color 0.1s, boder 0.1s;
  transition: background 0.1s, color 0.1s, boder 0.1s;
}
@media (min-width: 576px) {
  .vf-btn {
    max-width: 198px;
  }
}
.vf-btn:focus, .vf-btn:active {
  outline: none;
}
.vf-btn--primary {
  background: #0099da;
  border: 1px solid #0099da;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.vf-btn--primary:hover {
  border-color: #0068aa;
  color: #fff;
  background: #0068aa;
}
.vf-btn--primary:focus {
  color: #fff;
}
.vf-btn--big {
  border-radius: 0;
  font-family: "VWHeadOffice";
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .vf-btn--big {
    max-width: none;
  }
}
@media (min-width: 768px) {
  .vf-btn--big {
    line-height: 74px;
    height: 80px;
    width: 282px;
    max-width: none;
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .vf-btn--big {
    width: 400px;
  }
}

.mfp-fade {
  /* overlay at start */
}
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /* overlay animate in */
  /* overlay animate out */
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap {
  /* content at start */
  /* content animate it */
  /* content animate out */
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-bg {
  background-color: rgba(222, 225, 227, 0.5);
}

button.mfp-close {
  position: fixed;
  margin-top: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(34, 51, 51, 0.5);
  font-size: 40px;
  line-height: 1;
  opacity: 1;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
@media (min-width: 768px) {
  button.mfp-close {
    position: absolute;
    margin-top: 35px;
    margin-right: 30px;
  }
}
@media (min-width: 1281px) {
  button.mfp-close {
    margin-top: 20px;
  }
}
button.mfp-close:hover {
  background-color: rgba(34, 51, 51, 0.8);
}

.mfp-removing .mfp-close {
  opacity: 0;
}

@media (min-width: 1281px) {
  .vf-content .mfp-content {
    padding-left: 96px;
  }
}

.vf-modal {
  position: relative;
  background: #FFF;
  border-radius: 10px;
  color: #2f3538;
  font-family: "VWTextOffice";
  padding: 40px 0;
  width: auto;
  max-width: 815px;
  margin: 20px auto;
}
.vf-modal--text {
  max-width: 1000px;
}
.vf-modal__inner {
  max-width: 650px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.vf-modal--text .vf-modal__inner {
  max-width: none;
}
@media (min-width: 768px) {
  .vf-modal--text .vf-modal__inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.vf-modal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
}
.vf-modal__col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  padding-left: 9px;
  padding-right: 9px;
}
.vf-modal__col--auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.vf-modal__col--xs-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .vf-modal__col--md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
}
.vf-modal__text-title {
  font-size: 28px;
  font-weight: "VWHeadOffice";
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -2px;
  margin: 0 0 30px;
}
.vf-modal__title {
  text-align: center;
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: "VWHeadOffice";
  font-weight: 700;
}
@media (min-width: 768px) {
  .vf-modal__title {
    font-size: 45px;
  }
}
.vf-modal__info {
  font-size: 14px;
  margin-top: 20px;
}
.vf-modal__hr {
  position: relative;
  width: 100%;
  height: 1px;
  background: #f3f5f6;
  margin: 40px 0;
}
.vf-modal__hr span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 0 10px;
  line-height: 1;
}
.vf-modal__success-text {
  margin-bottom: 30px;
  font-size: 16px;
}
.vf-modal__footnote {
  color: #808890;
  margin-top: 50px;
}

.vf-upload__form.is-uploading .vf-upload__uploading, .vf-upload__form.is-success .vf-upload__success, .vf-upload__form.is-error .vf-upload__error {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vf-upload {
  max-width: 500px;
  margin: 0 auto;
}
.vf-upload__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding: 20px;
  min-height: 280px;
  border: solid 1px #dee1e3;
  border-radius: 4px;
}
.vf-upload__form.has-advanced-upload {
  outline: 2px dashed rgba(0, 0, 0, 0);
  outline-offset: -10px;
}
.vf-upload__form.is-dragover {
  outline-offset: -20px;
  outline-color: #c8dadf;
  background-color: #fff;
}
.vf-upload__form.is-uploading .vf-upload__input {
  visibility: hidden;
}
.vf-upload__form.is-success .vf-upload__input {
  visibility: hidden;
}
.vf-upload__form.is-error .vf-upload__input {
  visibility: hidden;
}
.vf-upload__form label {
  font-weight: normal;
}
.vf-upload__form video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 4px;
}
.vf-upload__video-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 56px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.vf-upload__video-btn:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #fff;
}
.vf-upload__video-btn:hover {
  background: #c82e2d;
}
.vf-upload__actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.vf-upload__remove {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.vf-upload .vf-upload__remove {
  color: #c82e2d;
}
.vf-upload .vf-upload__remove:hover {
  color: #E94C3D;
}
.vf-upload__remove span {
  position: relative;
  font-size: 34px;
  margin-right: 5px;
  line-height: 14px;
  top: -3px;
}
.vf-upload__button {
  display: block;
}
@media (min-width: 768px) {
  .vf-upload__button {
    float: right;
  }
}

.vf-upload__dragndrop {
  display: none;
}
.has-advanced-upload .vf-upload__dragndrop {
  display: inline;
}

.vf-upload__icon {
  display: none;
}
.has-advanced-upload .vf-upload__icon {
  width: 100%;
  height: 30px;
  fill: #bdc3c6;
  display: block;
  margin-bottom: 15px;
}

.vf-upload__uploading {
  display: none;
  font-style: italic;
}

.vf-upload__success {
  display: none;
  -webkit-animation: appear-from-inside .25s ease-in-out;
          animation: appear-from-inside .25s ease-in-out;
}

.vf-upload__error {
  display: none;
}

.vf-upload__restart {
  font-weight: 700;
}
.vf-upload__restart:focus {
  color: #0099da;
}
.vf-upload__restart:hover {
  color: #0099da;
}

.vf-upload__file:focus + label strong {
  color: #0099da;
}
.vf-upload__file.has-focus + label strong {
  color: #0099da;
}

.no-js .vf-upload__button {
  display: block;
}
.no-js .vf-upload__file + label {
  display: none;
}

.js .vf-upload__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.js .vf-upload__file + label {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
.js .vf-upload__file + label strong {
  color: #0099da;
}
.js .vf-upload__file + label:hover strong {
  color: #0099da;
}
.js .vf-upload__file:focus + label {
  outline: 1px dotted #000;
}
.js .vf-upload__file.has-focus + label {
  outline: 1px dotted #000;
}

@-webkit-keyframes appear-from-inside {
  from {
    -webkit-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
  }
  75% {
    -webkit-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
}

@keyframes appear-from-inside {
  from {
    -webkit-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
  }
  75% {
    -webkit-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
}
.vf-footer {
  background: #04053b url("../images/css/bg-footer.jpg") top left no-repeat;
  background-size: 640px auto;
  padding: 40px 0;
  font-family: "VWTextOffice";
  color: #d2d2da;
}
@media (min-width: 576px) {
  .vf-footer {
    background-size: 768px auto;
  }
}
@media (min-width: 768px) {
  .vf-footer {
    padding: 80px 0;
    background-size: 1390px auto;
  }
}
@media (min-width: 1390px) {
  .vf-footer {
    background-size: 100% auto;
  }
}
.vf-footer__row {
  margin-top: -10px;
}
@media (min-width: 768px) {
  .vf-footer__row {
    margin-top: -50px;
  }
}
.vf-footer__col-1, .vf-footer__col-2 {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .vf-footer__col-1, .vf-footer__col-2 {
    margin-top: 50px;
  }
}
@media (min-width: 1281px) {
  .vf-footer__col-1 {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
}
@media (min-width: 1281px) {
  .vf-footer__col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding-left: 150px;
    max-width: 450px;
  }
}
@media (min-width: 1600px) {
  .vf-footer__col-2 {
    max-width: none;
  }
}
.vf-footer__title {
  font-family: "VWHeadOffice";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.07em;
  margin-bottom: 16px;
  color: #fff;
}
@media (min-width: 768px) {
  .vf-footer__title {
    font-size: 24px;
  }
}
.vf-footer__copyright {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .vf-footer__copyright {
    margin-top: 50px;
  }
}
.vf-footer a {
  color: #fff;
  text-decoration: underline;
}
.vf-footer .vf-btn {
  text-decoration: none;
}

.vf-checkbox,
.vf-radiobox {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 30px;
  margin: 0;
  min-height: 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-weight: normal;
  text-align: left;
  font-size: 16px;
}
.vf-checkbox__icon, .vf-radiobox__icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #dee1e3;
  cursor: pointer;
}
.vf-checkbox__icon:before,
.vf-radiobox__icon:before {
  content: '';
  position: absolute;
  display: block;
  opacity: 0;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.vf-radiobox__input.error ~ .vf-checkbox__icon, .vf-checkbox__input.error ~ .vf-checkbox__icon, .vf-radiobox__input.error ~ .vf-radiobox__icon, .vf-checkbox__input.error ~ .vf-radiobox__icon {
  border-color: #c82e2d;
}
.vf-checkbox__input:checked ~ .vf-checkbox__icon, .vf-radiobox__input:checked ~ .vf-checkbox__icon, .vf-checkbox__input:checked ~ .vf-radiobox__icon, .vf-radiobox__input:checked ~ .vf-radiobox__icon {
  background: #0099da;
  border-color: #0099da;
}
.vf-checkbox__input:checked ~ .vf-checkbox__icon:before, .vf-radiobox__input:checked ~ .vf-checkbox__icon:before, .vf-checkbox__input:checked ~ .vf-radiobox__icon:before, .vf-radiobox__input:checked ~ .vf-radiobox__icon:before {
  opacity: 1;
}
.vf-checkbox__text,
.vf-radiobox__text {
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
}
.vf-checkbox .error,
.vf-radiobox .error {
  display: block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 10px;
  font-size: 14px;
}

.vf-radiobox__icon {
  border-radius: 50%;
}
.vf-radiobox__icon:before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: #fff;
}

.vf-checkbox__icon:before {
  content: "";
  width: 16px;
  height: 7px;
  top: 7px;
  left: 5px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

.modal-opened body {
  overflow: visible;
}

.vf-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #04053b;
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
}
.vf-bg--fixed {
  position: fixed;
  bottom: 0;
  top: auto;
  left: auto;
  right: 0;
}
.vf-bg--footer-reached {
  top: auto;
}
.vf-preloader--active .vf-bg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.vf-bg__stage, .vf-bg__stadium {
  min-width: 640px;
}
@media (min-width: 576px) {
  .vf-bg__stage, .vf-bg__stadium {
    min-width: 768px;
  }
}
@media (min-width: 768px) {
  .vf-bg__stage, .vf-bg__stadium {
    min-width: 1390px;
  }
}
.vf-bg__stage, .vf-bg__stadium-main, .vf-bg__stadium-grass {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
@media (min-width: 1281px) {
  .vf-bg__stage, .vf-bg__stadium-main, .vf-bg__stadium-grass {
    background-position: center;
  }
}
.vf-bg__stage:before {
  content: '';
  display: block;
  padding-bottom: 59.21%;
}
.vf-bg__stadium-main:before {
  content: '';
  display: block;
  padding-bottom: 41.01%;
}
.vf-bg__stadium-grass {
  margin-top: -6%;
}
.vf-bg__stadium-grass:before {
  content: '';
  display: block;
  padding-bottom: 20.18%;
}
.vf-bg .particles-js-canvas-el {
  -webkit-transition: all 0.3s 1.5s ease;
  transition: all 0.3s 1.5s ease;
}
.vf-preloader--active .vf-bg .particles-js-canvas-el {
  opacity: 0;
}

.vf-preloader:after {
  content: '';
  display: block;
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #04053b;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.vf-preloader--active:after {
  opacity: 1;
  visibility: visible;
}

.vf-content {
  position: relative;
  min-height: 100vh;
  color: #fff;
  font-family: "VWTextOffice";
}

@media (min-width: 768px) {
  .vf-top {
    padding-bottom: 110px;
  }
}
@media (min-width: 1024px) {
  .vf-top {
    padding-bottom: 80px;
  }
}
@media (min-width: 1600px) {
  .vf-top {
    padding-bottom: 190px;
  }
}
.vf-top__banner {
  margin: 0 -20px;
  position: relative;
  padding-top: 20px;
  max-width: 700px;
}
@media (min-width: 768px) {
  .vf-top__banner {
    margin: 0 auto;
    padding-top: 210px;
  }
}
@media (min-width: 1024px) {
  .vf-top__banner {
    padding-top: 100px;
  }
}
@media (min-width: 1486px) {
  .vf-top__banner {
    max-width: 1005px;
  }
}
@media (min-width: 1600px) {
  .vf-top__banner {
    max-width: 1305px;
    padding-top: 60px;
  }
}
.vf-top__banner img {
  max-width: 100%;
  display: block;
}
.vf-top__title {
  position: relative;
  font-family: "VWHeadOffice";
  font-weight: 700;
  line-height: 1.1;
  font-size: 23px;
  letter-spacing: -0.05em;
  color: #fff;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .vf-top__title {
    font-size: 35px;
    margin-top: 220px;
  }
}
@media (min-width: 1024px) {
  .vf-top__title {
    margin-bottom: 30px;
    margin-top: 0;
  }
}
@media (min-width: 1486px) {
  .vf-top__title {
    font-size: 45px;
    margin-top: -100px;
  }
}
@media (min-width: 1600px) {
  .vf-top__title {
    margin-top: -40px;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -0.06em;
    max-width: 930px;
  }
}
.vf-top__descr {
  font-family: "VWHeadOffice";
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -0.07em;
  color: #fff;
  font-size: 16px;
}
@media (min-width: 768px) {
  .vf-top__descr {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .vf-top__descr {
    font-size: 24px;
  }
}
@media (min-width: 1600px) {
  .vf-top__descr {
    font-size: 28px;
  }
}
.vf-top__btn-wrap {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .vf-top__btn-wrap {
    margin-top: 60px;
  }
}
@media (min-width: 1024px) {
  .vf-top__btn-wrap {
    text-align: center;
  }
}
.vf-top__btn {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.vf-top__decor-1, .vf-top__decor-2, .vf-top__decor-3, .vf-top__decor-4, .vf-top__decor-5, .vf-top__decor-6 {
  position: absolute;
  left: 50%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
@media (min-width: 768px) {
  .vf-top__decor-1, .vf-top__decor-2, .vf-top__decor-3, .vf-top__decor-4, .vf-top__decor-5, .vf-top__decor-6 {
    -webkit-transform: none;
            transform: none;
  }
}
.vf-top__decor-1 {
  background-image: url(../images/css/sprite.png);
  background-position: 0px -996px;
  width: 1520px;
  height: 43px;
  top: 570px;
  left: 0;
  right: 0;
  margin: auto;
}
@media (min-width: 1600px) {
  .vf-top__decor-1 {
    top: 740px;
  }
}
.vf-top__decor-2 {
  background-image: url(../images/css/sprite.png);
  background-position: 0px 0px;
  width: 775px;
  height: 756px;
  top: -60px;
  margin-left: -340px;
  left: 0;
}
@media (min-width: 768px) {
  .vf-top__decor-2 {
    left: 50%;
    top: 350px;
    margin-left: -130px;
  }
}
@media (min-width: 1024px) {
  .vf-top__decor-2 {
    top: 260px;
    margin-left: 150px;
  }
}
@media (min-width: 1600px) {
  .vf-top__decor-2 {
    top: 400px;
    margin-left: 200px;
  }
}
.vf-top__decor-3 {
  background-image: url(../images/css/sprite.png);
  background-position: 0px -872px;
  width: 858px;
  height: 104px;
  top: 170px;
  margin-left: -270px;
}
@media (min-width: 768px) {
  .vf-top__decor-3 {
    top: 330px;
    margin-left: -170px;
  }
}
@media (min-width: 1024px) {
  .vf-top__decor-3 {
    top: 180px;
    margin-left: -60px;
  }
}
@media (min-width: 1600px) {
  .vf-top__decor-3 {
    margin-left: 30px;
  }
}
.vf-top__decor-4 {
  background-image: url(../images/css/sprite.png);
  background-position: 0px -1059px;
  width: 560px;
  height: 105px;
  top: -10px;
  margin-left: -140px;
}
@media (min-width: 768px) {
  .vf-top__decor-4 {
    top: 80px;
    margin-left: -70px;
  }
}
@media (min-width: 1024px) {
  .vf-top__decor-4 {
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.vf-top__decor-5 {
  background-image: url(../images/css/sprite.png);
  background-position: 0px -776px;
  width: 1211px;
  height: 76px;
  margin-left: -810px;
  top: 130px;
}
@media (min-width: 768px) {
  .vf-top__decor-5 {
    margin-left: -920px;
    top: 540px;
  }
}
@media (min-width: 1024px) {
  .vf-top__decor-5 {
    top: 450px;
  }
}
@media (min-width: 1486px) {
  .vf-top__decor-5 {
    top: 540px;
  }
}
.vf-top__decor-6 {
  background-image: url(../images/css/sprite.png);
  background-position: -878px -872px;
  width: 288px;
  height: 100px;
  top: -20px;
  margin-left: -310px;
}
@media (min-width: 768px) {
  .vf-top__decor-6 {
    top: 30px;
    margin-left: -310px;
  }
}
@media (min-width: 1024px) {
  .vf-top__decor-6 {
    top: 50px;
    margin-left: -770px;
  }
}

.vf-pass {
  padding: 40px 0 100px;
}
@media (min-width: 768px) {
  .vf-pass {
    padding: 80px 0 140px;
  }
}
@media (min-width: 1024px) {
  .vf-pass {
    padding-bottom: 180px;
  }
}
@media (min-width: 1600px) {
  .vf-pass {
    padding: 110px 0 230px;
  }
}
.vf-pass__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 1406px) {
  .vf-pass__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.vf-pass__col-1 {
  position: relative;
  z-index: 2;
}
@media (min-width: 1406px) {
  .vf-pass__col-1 {
    width: 550px;
    margin-right: -550px;
  }
}
.vf-pass__col-2 {
  width: 100%;
}
.vf-pass__title {
  font-family: "VWHeadOffice";
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.06em;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .vf-pass__title {
    font-size: 80px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1600px) {
  .vf-pass__title {
    font-size: 100px;
    margin-bottom: 40px;
  }
}
.vf-pass__title br {
  display: none;
}
@media (min-width: 768px) {
  .vf-pass__title br {
    display: block;
  }
}
.vf-pass__text {
  font-family: "VWHeadOffice";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: -0.08em;
  color: #ffffff;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .vf-pass__text {
    margin-bottom: 60px;
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  .vf-pass__text {
    font-size: 28px;
  }
}
@media (min-width: 1406px) {
  .vf-pass__text {
    margin-bottom: 0;
  }
}
.vf-pass__text:after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: #fff;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .vf-pass__text:after {
    margin-top: 50px;
  }
}
.vf-pass__video {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  max-width: 820px;
}
@media (min-width: 1600px) {
  .vf-pass__video {
    max-width: 1100px;
  }
}
.vf-pass__video img {
  max-width: 100%;
}

.vf-vidos__splatter-top, .vf-vidos__splatter-bot {
  background-image: url(../images/css/sprite.png);
  background-position: -1261px -302px;
  width: 432px;
  height: 319px;
  position: absolute;
  z-index: -1;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
@media (min-width: 768px) {
  .vf-vidos__splatter-top, .vf-vidos__splatter-bot {
    -webkit-transform: none;
            transform: none;
  }
}
.vf-vidos__splatter-top {
  top: -100px;
  right: -100px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
@media (min-width: 768px) {
  .vf-vidos__splatter-top {
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
.vf-vidos__splatter-bot {
  bottom: -130px;
  left: -180px;
  -webkit-transform: rotate(-180deg) scale(0.7);
          transform: rotate(-180deg) scale(0.7);
}
@media (min-width: 768px) {
  .vf-vidos__splatter-bot {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    bottom: -100px;
    left: -100px;
  }
}
.vf-vidos__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 30px;
}
@media (min-width: 768px) {
  .vf-vidos__play-btn {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .vf-vidos__play-btn {
    font-size: 100px;
  }
}
@media (min-width: 1600px) {
  .vf-vidos__play-btn {
    font-size: 130px;
  }
}

.vf-steps {
  padding: 40px 0 60px;
}
@media (min-width: 768px) {
  .vf-steps {
    padding: 80px 0 140px;
  }
}
@media (min-width: 1281px) {
  .vf-steps {
    padding: 80px 0 160px;
  }
}
.vf-steps__title {
  margin: 0 0 30px;
}
@media (min-width: 768px) {
  .vf-steps__title {
    margin: 0 0 80px;
  }
}
.vf-steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  counter-reset: myCounter;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -100px 0 0;
}
@media (min-width: 1024px) {
  .vf-steps__list {
    margin-top: -150px;
  }
}
@media (min-width: 1281px) {
  .vf-steps__list {
    margin-top: 0;
  }
}
@media (min-width: 1600px) {
  .vf-steps__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.vf-steps__item {
  width: 100%;
  list-style: none;
  text-align: center;
  margin-top: 100px;
}
@media (min-width: 1024px) {
  .vf-steps__item {
    margin-top: 150px;
  }
}
@media (min-width: 1281px) {
  .vf-steps__item {
    margin-top: 0;
  }
}
@media (min-width: 1281px) {
  .vf-steps__item {
    width: 50%;
    padding: 0 110px;
  }
}
@media (min-width: 1281px) {
  .vf-steps__item:nth-child(odd) {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .vf-steps__item:nth-child(even) {
    margin-top: 160px;
  }
}
@media (min-width: 1281px) {
  .vf-steps__item:nth-child(even) {
    text-align: left;
  }
}
@media (min-width: 1600px) {
  .vf-steps__item:nth-child(even) {
    margin-top: 140px;
  }
}
@media (min-width: 1281px) {
  .vf-steps__item:nth-child(n+3) {
    margin-top: 140px;
  }
}
@media (min-width: 1281px) {
  .vf-steps__item:nth-child(3) {
    padding: 0 300px 0 0;
  }
}
@media (min-width: 1600px) {
  .vf-steps__item:nth-child(3) {
    padding: 0;
  }
}
.vf-steps__rules {
  text-align: center;
  margin-top: 130px;
  color: #fff;
}
.vf-steps__rules-link {
  color: inherit;
  text-decoration: underline;
}
.vf-steps__rules-link:focus {
  color: inherit;
}
.vf-steps__rules-link:hover {
  text-decoration: none;
  color: inherit;
}

.vf-item-step {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  width: 165px;
  height: 190px;
  text-align: left;
}
@media (min-width: 768px) {
  .vf-item-step {
    padding-top: 75px;
    padding-right: 30px;
    width: 295px;
    height: 340px;
  }
}
.vf-item-step:before {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  left: 50%;
  width: 133%;
  height: 100%;
  background: #fdfdfd;
  -webkit-transform: skewX(-16deg) translateX(-50%);
          transform: skewX(-16deg) translateX(-50%);
}
.vf-item-step__text {
  position: relative;
  z-index: 1;
  font-family: "VWHeadOffice";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -0.08em;
  color: #1d1f20;
}
@media (min-width: 768px) {
  .vf-item-step__text {
    font-size: 28px;
  }
}
.vf-item-step__text:before {
  position: absolute;
  content: '';
  display: block;
  bottom: 100%;
  margin-bottom: 30px;
  left: -40px;
  width: 82px;
  height: 5px;
  background: #0099da;
}
.vf-item-step__num {
  position: absolute;
  z-index: 1;
  font-size: 80px;
  font-family: "VWHeadOffice";
  font-weight: 700;
  color: #0099da;
  line-height: 0.8;
  letter-spacing: -0.05em;
}
@media (min-width: 768px) {
  .vf-item-step__num {
    font-size: 160px;
  }
}
.vf-item-step__num:before {
  content: "0" counter(myCounter);
  counter-increment: myCounter;
}
.vf-item-step__num--top {
  top: -9px;
  right: -70px;
}
@media (min-width: 768px) {
  .vf-item-step__num--top {
    top: -17px;
    right: -110px;
  }
}
.vf-item-step__num--bot {
  bottom: -1px;
  left: -64px;
}
@media (min-width: 768px) {
  .vf-item-step__num--bot {
    bottom: -2px;
    left: -110px;
  }
}
.vf-item-step__img-wrap {
  position: absolute;
}
.vf-item-step__img-wrap--pos-1 {
  width: 102px;
  bottom: -36px;
  right: 16px;
}
@media (min-width: 768px) {
  .vf-item-step__img-wrap--pos-1 {
    width: 200px;
    bottom: -50px;
    right: 40px;
  }
}
.vf-item-step__img-wrap--pos-2 {
  width: 194px;
  top: -20px;
  right: -80px;
}
@media (min-width: 768px) {
  .vf-item-step__img-wrap--pos-2 {
    width: 405px;
    top: -54px;
    right: -240px;
  }
}
.vf-item-step__img-wrap--pos-3 {
  width: 172px;
  bottom: -43px;
  right: -67px;
}
@media (min-width: 768px) {
  .vf-item-step__img-wrap--pos-3 {
    width: 310px;
    bottom: -73px;
    right: -97px;
  }
}
.vf-item-step__img-wrap img {
  display: block;
  width: 100%;
}
.vf-item-step__decor-1, .vf-item-step__decor-2, .vf-item-step__decor-3 {
  background-image: url(../images/css/sprite.png);
  background-position: -795px -302px;
  width: 446px;
  height: 335px;
  display: block;
  position: absolute;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
@media (min-width: 768px) {
  .vf-item-step__decor-1, .vf-item-step__decor-2, .vf-item-step__decor-3 {
    -webkit-transform: none;
            transform: none;
  }
}
.vf-item-step__decor-1 {
  top: -10px;
  left: -140px;
}
@media (min-width: 768px) {
  .vf-item-step__decor-1 {
    top: 115px;
    left: -120px;
  }
}
.vf-item-step__decor-2 {
  top: -120px;
  left: -90px;
}
@media (min-width: 768px) {
  .vf-item-step__decor-2 {
    top: -48px;
    left: -25px;
  }
}
.vf-item-step__decor-3 {
  top: -30px;
  left: -80px;
  -webkit-transform: rotate(180deg) scale(0.5);
          transform: rotate(180deg) scale(0.5);
}
@media (min-width: 768px) {
  .vf-item-step__decor-3 {
    top: 53px;
    left: 35px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.vf-prize {
  padding: 40px 0 20px;
}
@media (min-width: 768px) {
  .vf-prize {
    padding: 80px 0 90px;
  }
}
@media (min-width: 1024px) {
  .vf-prize {
    padding-bottom: 100px;
  }
}
@media (min-width: 1600px) {
  .vf-prize {
    padding-bottom: 120px;
  }
}
.vf-prize__title {
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .vf-prize__title {
    margin: 0 0 80px;
  }
}
.vf-prize__row--align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.vf-prize__row--first {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .vf-prize__row--first {
    margin-bottom: 0;
  }
}
@media (min-width: 1600px) {
  .vf-prize__row--first {
    margin-bottom: 80px;
  }
}
@media (min-width: 1600px) {
  .vf-prize__order-xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.vf-prize__col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}
.vf-prize__col--xs-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .vf-prize__col--md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .vf-prize__col--lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .vf-prize__col--lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1600px) {
  .vf-prize__col--xxl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1600px) {
  .vf-prize__col--xxl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.vf-prize__main-prize {
  max-width: 404px;
  margin: 0 auto -10px;
}
@media (min-width: 768px) {
  .vf-prize__main-prize {
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .vf-prize__main-prize {
    max-width: none;
    float: right;
    margin: 0 0 30px;
  }
}
@media (min-width: 1600px) {
  .vf-prize__main-prize {
    margin-bottom: 0;
  }
}
.vf-prize__main-prize img {
  max-width: 100%;
}
.vf-prize__main-text {
  font-family: "VWHeadOffice";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.06em;
  text-align: center;
}
@media (min-width: 768px) {
  .vf-prize__main-text {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  .vf-prize__main-text {
    font-size: 28px;
    text-align: right;
  }
}
@media (min-width: 1600px) {
  .vf-prize__main-text {
    font-size: 45px;
    margin-left: 130px;
    text-align: left;
  }
}
.vf-prize__main-text span {
  white-space: nowrap;
}
.vf-prize__sec-text {
  font-family: "VWHeadOffice";
  font-size: 21px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.08em;
  text-align: center;
}
@media (min-width: 1024px) {
  .vf-prize__sec-text {
    text-align: left;
    margin-left: 100px;
    font-size: 28px;
  }
}
@media (min-width: 1600px) {
  .vf-prize__sec-text {
    text-align: right;
    margin-left: 0;
  }
}
.vf-prize__sec-prize {
  margin: 0 auto;
  max-width: 160px;
}
@media (min-width: 768px) {
  .vf-prize__sec-prize {
    max-width: 220px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1281px) {
  .vf-prize__sec-prize {
    text-align: center;
    max-width: none;
  }
}
@media (min-width: 1600px) {
  .vf-prize__sec-prize {
    margin-bottom: 0;
  }
}
.vf-prize__sec-prize img {
  max-width: 100%;
}
.vf-prize__info {
  margin: 50px auto 0;
  color: #d2d2da;
  max-width: 1020px;
}
@media (min-width: 1024px) {
  .vf-prize__info {
    margin-top: 90px;
  }
}
@media (min-width: 1600px) {
  .vf-prize__info {
    max-width: 1400px;
    margin-top: 40px;
  }
}
.vf-prize__info a {
  color: #fff;
  text-decoration: underline;
}
.vf-prize__info a:hover {
  text-decoration: none;
}

.vf-videos {
  padding: 40px 0 20px;
}
@media (min-width: 768px) {
  .vf-videos {
    padding: 80px 0 30px;
  }
}
@media (min-width: 1024px) {
  .vf-videos {
    padding: 80px 0 80px;
  }
}
.vf-videos__title {
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .vf-videos__title {
    margin: 0 0 40px;
  }
}
@media (min-width: 1600px) {
  .vf-videos__title {
    margin: 0 0 20px;
  }
}
.vf-videos__descr {
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1281px) {
  .vf-videos__descr {
    margin-bottom: 80px;
  }
}
.vf-videos__list {
  padding: 0.1px 0 0;
  margin-top: -14px;
  margin-left: -7px;
  margin-right: -7px;
}
@media (min-width: 768px) {
  .vf-videos__list {
    margin-top: -30px;
  }
}
@media (min-width: 1024px) {
  .vf-videos__list {
    margin-top: -100px;
  }
}
.vf-videos__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
  padding-left: 7px;
  padding-right: 7px;
}
@media (min-width: 768px) {
  .vf-videos__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }
}
@media (min-width: 1024px) {
  .vf-videos__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    margin-top: 100px;
  }
}
@media (min-width: 1600px) {
  .vf-videos__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 768px) {
  .vf-videos__item:nth-child(even) {
    margin-top: 60px;
  }
}
@media (min-width: 1024px) {
  .vf-videos__item:nth-child(even) {
    margin-top: 140px;
  }
}

.vf-video {
  position: relative;
  width: 280px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  will-change: transform;
}
@media (min-width: 768px) {
  .vf-video:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
.vf-video__preview {
  display: block;
}
.vf-video__preview:before {
  padding-bottom: 55.71%;
}
.vf-video__preview:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 24, 73, 0.4);
}
.vf-video__play-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
}
.vf-video__content {
  padding: 15px 15px 20px;
  background: #fff;
  color: #000;
}
.vf-video__name {
  font-family: "VWHeadOffice";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.28;
  letter-spacing: -0.07em;
  color: #1d1f20;
  margin-bottom: 10px;
}
.vf-video__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.vf-video__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.vf-video__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 18px;
}
.vf-video__icon svg {
  display: block;
  fill: #bdc3c6;
}
.vf-video__action:hover .vf-video__icon svg, .vf-video__action.active .vf-video__icon svg {
  fill: #0099da;
}
.vf-video__action-text {
  vertical-align: middle;
  font-size: 16px;
  font-family: "VWTextOffice";
  color: #2f3538;
}
.vf-video__user {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.vf-video__user:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 4px;
  left: 4px;
  background: #E94C3D;
}
.vf-video__num {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #0099da;
  text-align: center;
  line-height: 50px;
  font-family: "VWHeadOffice";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.07em;
}

.vf-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 70px;
}
@media (min-width: 768px) {
  .vf-thumb {
    padding: 150px 0 100px;
  }
}
@media (min-width: 1281px) {
  .vf-thumb {
    padding: 11.458vw 0;
  }
}
.vf-thumb__content {
  text-align: center;
  position: relative;
  z-index: 1;
}
.vf-thumb__content:before {
  background-image: url(../images/css/sprite.png);
  background-position: -795px 0px;
  width: 917px;
  height: 282px;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) scale(0.65);
          transform: translate(-50%, 0) scale(0.65);
}
@media (min-width: 768px) {
  .vf-thumb__content:before {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: -80px;
    left: 50%;
  }
}
.vf-thumb__title {
  max-width: 200px;
  margin: 0 auto 50px;
}
@media (min-width: 768px) {
  .vf-thumb__title {
    margin-bottom: 100px;
    max-width: 700px;
  }
}
@media (min-width: 1281px) {
  .vf-thumb__title {
    max-width: 820px;
  }
}



/*# sourceMappingURL=style.css.map */
